header .container-fluid{
	background:#1A446A;
	}

.header_upper_div{
	background: #C4D5E5;
	padding-top:10px;
	padding-bottom:10px;
/*	margin-top: 20px;*/
	}
.header_upper_div img{
	padding:0px 0px 10px 0px;
	}
.exta_link{
	padding: 0px;
margin: 0px;
float: right;
	}
.exta_link li{
	list-style:none;
	float:left;
	}
.exta_link li a{
	text-decoration:none;
border-right: 1px solid #BABABA;
padding-left: 10px;
padding-right: 10px;
font-size: 12px;
}
.exta_link li:last-child a{border-right:none;}
.heder_row2_col1{
	height: 40px;
line-height: 40px;	
	}
.heder_row2_col1 ul{
	padding: 0px;
margin: 0px;
background: #E8F0F8 none repeat scroll 0% 0%;
height: inherit;
box-shadow: 1px 1px 1px #C2C5D5;
}
.heder_row2_col1 ul li{
	list-style: none;
	float: left;
font-size: 16px;
	}
	.heder_row2_col1 ul li:hover{
	border-bottom:2px solid #1A446A;
	}
.heder_row2_col1 ul li a:active{
	border-bottom:2px solid #1A446A;	
}
.heder_row2_col1 ul li a{
		text-decoration: none;
border-left: 1px solid #D6D6F3;
padding-left: 11px;
padding-right: 11px;
		}
.heder_row2_col1 ul li:first-child a{
	border-left: none;
	}
.main_section{
/*	background:#ECF1F5;*/background: #1A446A;
	}
.main_section > .container{
	border-right: 1px solid #C4D5E5;
border-left: 1px solid #C4D5E5;
	background:#fff;
}
.main_section .carousel.slide{
	padding: 15px 0px 15px 0px!important;
		}
.main_row1_col2{
	padding-left: 0px;
	}

.main_row1_col2 > div{
	min-height: 350px;
	margin-top: 15px;
	border: 1px solid #C4D5E5;
	background: #ECF1F5;
	padding:0px;
	border-top:none;
	}
.leader_msg_div{
	padding:15px;
	}
.leader_msg_div > div:first-child{
padding:0px;
margin:0px;	
}
.leader_msg_div div img{
	border: 7px solid #C4D5E5;
	}
.leader_msg_name .leader_msg_name_div p:first-child{
	font-size: 20px;
color: #B32A2A;
font-weight: 200;
margin:0px;
	}
.leader_msg_name .leader_msg_name_div p:nth-child(2){
font-size: 14px;
color: #8F8C8C;
font-weight: 200;
margin:0px;
	}
.leader_msg_name{
	position: relative;
height: 150px;
	}
.leader_msg_name_div{
position: absolute;
left: 0px;
bottom: 0px;
	}
.leader_msg_text{
	padding: 30px 0px 0px;
	}
.leader_msg_text .fa.fa-quote-left{
	position: absolute;
font-size: 44px;
top: 13px;
text-indent: 80px;
opacity: 0.1;
	}
.leader_msg_text p {text-indent: 100px;
text-align: justify;
color: #4A4A4A;
font-size: 15px;
font-weight: 600;
}
.main_row2{
	text-align: center;
padding: 15px 0px;
	}
.main_row2 > div > div{
	border: 1px solid #C4D5E5;
	padding:20px;
	background: #ECF1F5;
	}
.main_row2 .fa{
	font-size: 40px;
height: 80px;
width: 80px;
line-height: 80px;
border-radius: 50%;
border: 2px solid #1A446A;
color: #1A446A;
margin-bottom: 15px;
	}
.main_row2 > div > div p:nth-child(2){
font-size: 18px;
color: #1A446A;
margin-bottom: 10px;
	}
.main_row2 > div > div p:nth-child(3){
font-size: 16px;
color: #8F8C8C;
margin-bottom: 20px;
	}
.main_row2 > div > div a{
	text-transform: uppercase;
background: rgb(26, 68, 106) none repeat scroll 0% 0%;
padding: 5px 10px;
color: rgb(255, 255, 255);
	}
.page_link{
		text-transform: uppercase;
background: rgb(26, 68, 106) none repeat scroll 0% 0%;
padding: 5px 10px;
color: rgb(255, 255, 255);
	}
.main_row3 > div > div{
	border: 1px solid #C4D5E5;
background: #ECF1F5 none repeat scroll 0% 0%;
padding: 20px;
text-align:center;
	}
.main_row3 > div > div p:first-child{
font-size: 25px;
color: rgb(26, 68, 106);
margin-bottom: 30px;
	}
.main_row3 > div > div p:first-child:after{
margin: -1px auto;
background-color: #EFD306;
content: "";
display: block;
height: 4px;
position: relative;
width: 100px;
top: 8px;
	
}
.main_row3{
	padding-bottom:15px;
	}
.main_row3 > div > div p:nth-child(2){
font-size: 16px;
color: #8F8C8C;
margin-bottom: 20px;
text-align:justify;
	}
.header_social_link{
	float:right;
	padding: 0px;
margin: 0px;
	}
.header_social_link li{
text-decoration: none;
margin-left: 8px;
margin-right: 8px;
list-style: none;
float: left;
height: 30px;
width: 30px;
line-height: 30px;
text-align: center;
font-size: 20px;
background: #ccc none repeat scroll 0% 0%;
	}
.social_link_row, .extra_link_row{
	margin-bottom:20px;
	}

.images_row > div > div{
	border: 1px solid #C4D5E5;
background: #ECF1F5 none repeat scroll 0% 0%;
padding: 20px;
text-align:center;
	}
.main_row4{
	padding-bottom:15px;
	padding-top:15px;
	}
.leader_images_head{
	font-size: 25px;
color: #1A446A;
margin-bottom: 30px;
text-align: center;
	}
.leader_images_head:after{
    margin: 0px auto;
    background-color: #EFD306;
    content: "";
    display: block;
    height: 4px;
    position: relative;
    width: 150px;
    top: 0px;
}

.leader_image_div{
		display: inline-block;
margin: 5px;
height: 150px;
overflow: hidden;
position: relative;
		}
.leader_name{
position: absolute;
bottom: 0%;
left: 0%;
text-align: center;
width: 150px;
background: rgba(6, 9, 47, 0.7) none repeat scroll 0% 0%;
font-size: 14px;
color: #FFF;
transition: all 0.3s ease 0s;
transform: translate(0px, 55px);
}
.leader_name span{
	color:#EFD306;
	font-size:12px;
	}
.leader_image_div:hover .leader_name{
transform: translate(0px, 0px);
	}
.main_row4_quicklink > div {
	border: 1px solid #C4D5E5;
background: #ECF1F5 none repeat scroll 0% 0%;
height:570px;
	}
.quick_link_div{
height: 60px;
line-height: 60px;
border: 1px solid #C4D5E5;
margin: 5px 10px;
padding: 0px;
width: 96% !important;
background: #FFF none repeat scroll 0% 0%;
	}
.quick_link_div p{
float: left;
font-size: 16px;
color: #8F8C8C;
margin-left: 15px;
}
.quick_link_div:hover i{
	background: #FFE20A;
	}
.quick_link_div i{
float: right;
margin-right: 15px;
background: #FFF none repeat scroll 0% 0%;
font-size: 25px;
color: #1A446A;
border: 1px solid #1A446A;
border-radius: 50%;
margin-top: 6px;
height: 45px;
width: 45px;
line-height: 45px;
text-align: center;
}
.main_row4_quicklink > div > div:first-child p:first-child{
	font-size: 25px;
color: #1A446A;
text-align: center;
margin-top: 15px;
	}
.sec_head{
	font-size: 25px;
color: #1A446A;
	}
.row.main_row5 > div{ 
	min-height: 369px;
	}
.row.main_row5 > div > div{
		border: 1px solid #C4D5E5;
background: #ECF1F5 none repeat scroll 0% 0%;
padding: 15px;
min-height: inherit;
		}
.row.main_row5 > div > div li{
	list-style: outside none none;
font-size: 16px;
line-height: 28px;
			}
.row.main_row5 > div > div li a{
text-decoration:none;	
}
.row.main_row5 > div > div ul{
	padding: 0px;
	}
.row.main_row5 > div > div li:before {    
font-family: "FontAwesome";
content: "";
margin: 0px 15px 0px 0px;
color: #C2C2C2;
border-radius: 50%;
border: 1px solid #D3E8FB;
padding: 3px;
background: #E9E9E9 none repeat scroll 0% 0%;
transition:all 0.3s;
}
.row.main_row5 > div > div li:hover:before{
color: #1A446A;
/*font-size: 18px;*/
border: 1px solid #1A446A;
background: #FFF none repeat scroll 0% 0%;
	}
.contact_form input[type="text"]{
width: 100%;
border: 1px solid #C4D5E5;
margin: 5px 0px;
font-size: 14px;
padding: 5px 8px;
	}
.contact_form textarea{
border: 1px solid #C4D5E5;
margin: 5px 0px;
font-size: 14px;
padding: 5px 8px;
	}
.contact_form input[type="submit"]{
	text-transform: uppercase;
background: #1A446A none repeat scroll 0% 0%;
padding: 5px 10px;
color: #FFF;
border: medium none;
margin: 5px 0px;
	}
.main_row5{
	margin-bottom:15px;
	}
footer{
	background: #1A446A;
padding: 20px 0px;
color:#fff;
	}
footer > div > div [class^="footer_area"]{
	border:1px solid #C4D5E5;
	height:200px;
	background:#fff;
}
.footer_top_upper{
	background: #1A446A;
padding: 15px 0px;
color: #B7B7B7;
	}
.footer_top_upper .footer_top p{
	margin:0px;
	}
.footer_top_upper .footer_top a{
color: #B7B7B7;
	}
.footer_sec_head{
	font-size: 22px;
color: #fff;
margin-bottom: 25px;
	}
.footer_area2 a{
	text-transform: uppercase;
background: #fff;
padding: 5px 10px;
color: #1A446A;
	}
.footer_area1 span{
color:	#EFD306;
}
.footer_area4 .header_social_link {
    float: none!important;
}
.footer_area3 ul{
	padding-left: 18px;
	}
.footer_area3 ul li a{
	font-size: 15px;
color: rgb(255, 255, 255);
	}
/*****************************/

.ui-widget-header {
    border: 0px;
    background: none;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0em 36px;
    background: #ECF1F5;
}
.ui-tabs .ui-tabs-panel {
    padding: 0em;
}
.ui-tabs .ui-tabs-nav {
    padding: 0px;
}

/********************************/

.about_text > div {
border: 1px solid #C4D5E5;
background: #ECF1F5 none repeat scroll 0% 0%;
text-align: justify;
padding: 15px;
font-size: 16px;
color: #8F8C8C;
min-height:570px;

	}
.about_text > div > p:first-child{
	font-size: 25px;
color: #1A446A;
text-align: center;
	}
.about_text{
	padding-bottom: 15px;
	}
	
	
/* ==inner pages == */

.quick_link_div_inner{
height: 34px;
line-height: 34px;
border: 1px solid #C4D5E5;
margin: 5px 5px;
padding: 0px;
width: 97% !important;
background: #FFF none repeat scroll 0% 0%;
	}
.quick_link_div_inner p{
float: left;
font-size: 14px;
color: #8F8C8C;
margin-left: 15px;
}
.quick_link_div_inner:hover i{
	background: #FFE20A;
	}
	
	
	.row.main_row5a > div{ 
	min-height: 505px;
	}
.row.main_row5a > div > div{
		border: 1px solid #C4D5E5;
background: #ECF1F5 none repeat scroll 0% 0%;
padding: 15px;
min-height: inherit;
		}
.row.main_row5a > div > div li{
	list-style: outside none none;
font-size: 16px;
line-height: 28px;
			}
.row.main_row5a > div > div li a{
text-decoration:none;	
}
.row.main_row5a > div > div ul{
	padding: 0px;
	}
.row.main_row5a > div > div li:before {    
font-family: "FontAwesome";
content: "";
margin: 0px 15px 0px 0px;
color: #C2C2C2;
border-radius: 50%;
border: 1px solid #D3E8FB;
padding: 3px;
background: #E9E9E9 none repeat scroll 0% 0%;
transition:all 0.3s;
}
.row.main_row5a > div > div li:hover:before{
color: #1A446A;
/*font-size: 18px;*/
border: 1px solid #1A446A;
background: #FFF none repeat scroll 0% 0%;
	}
